<form method="post" action="{{ path('concept_delete', {'id': concept.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ concept.id) }}">
    <button class="btn">Delete</button>
</form>
