{% extends 'base.html.twig' %}

{% block title %}New Concept{% endblock %}

{% block body %}
    <h1>Create new Concept</h1>

    {{ include('concept/_form.html.twig') }}

    <a href="{{ path('concept_index') }}">back to list</a>
{% endblock %}
